.header {
    height: 30px;
    background-color: #e7e7e7;
    line-height: 30px;
}
.header .header-con {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.header .header-con .login-button {
    display: inline-block;
    height: 100%;
    padding-left: 20px;
    background: url(../icon/login.png) no-repeat center left;
    background-size: 15px;
    padding-right: 20px;
}
.header .header-con .shopping-cart-button {
    position: relative;
    display: inline-block;
    height: 100%;
    padding-left: 20px;
    background: url(../icon/shopping-cart.png) no-repeat center left;
    background-size: 15px;
    padding-right: 20px;
}
.header .header-con .shopping-cart-button em {
    position: absolute;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
}
.header .header-con .pc-button {
    display: inline-block;
    height: 100%;
    padding-left: 20px;
    background: url(../icon/pc.png) no-repeat center left;
    background-size: 15px;
}
.search {
    position: relative;
    height: 150px;
    border-bottom: 3px solid #f00;
}
.search .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto 0;
    width: 300px;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}
.search .logo img {
    float: left;
    width: 100%;
}
.search .search-con {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 40px;
    margin: auto;
}
.search .search-con .search-input {
    display: inline-block;
    width: 503px;
    height: 38px;
    outline: none;
    border: 1px solid #f00;
    text-align: center;
    line-height: 38px;
}
.search .search-con .search-button {
    display: inline-block;
    width: 90px;
    height: 40px;
    background-color: #f00;
    color: #fff;
    outline: none;
    border: 0;
    cursor: pointer;
}
.goods {
    width: 1000px;
    margin: 50px auto;
}
.goods h1 {
    width: 100%;
    height: 80px;
    box-shadow: 1px 1px 5px #000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}
.goods .goods-list {
    width: 100%;
    margin-top: 20px;
}
.goods .goods-list .list {
    float: left;
    width: 238px;
    margin-right: 16px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #000;
}
.goods .goods-list .list:nth-child(4n+4) {
    margin-right: 0;
}
.goods .goods-list .list img {
    float: left;
    width: 100%;
    height: 238px;
}
.goods .goods-list .list a {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    float: left;
    width: 96%;
    height: 35px;
    padding: 0 2%;
    text-align: center;
    line-height: 35px;
}
.copyright {
    height: 45px;
    margin-bottom: 50px;
    color: #999;
    text-align: center;
    line-height: 45px;
}